img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

h1, h2{
    border-radius: 20px;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
}

a>img {
    width: 300px;
}

main {
max-width: 1000px;
margin-left: auto;
margin-right: auto;
margin-top: 125px;
}

body{
    color :darkslategrey
}

footer{
    padding: 15px;
    background-color: darkgreen;
    text-align: center;
    color: mintcream;
}

li a {
    color: mediumseagreen;
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: darkgreen;
    padding: 30px;
    margin-bottom: 6px;
    position: fixed;
    width: 100%;
}

hr {
    margin-bottom: 5px;
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    text-align: center;
    margin-top: -110px;
    background-color: white;
    position: fixed;
}

.button { 
    color: mintcream;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }