
h1, h2{
    border-radius: 20px;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a>img {
    width: 300px;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    color: white;
}

body{
    background-color: hsl(143, 55%, 11%);
    color :darkslategrey
}

footer{
    padding: 15px;
    background-color: darkgreen;
    text-align: center;
    color: mintcream;
    margin-top: 30rem;
}

.left {
    text-align: left;
}

.test {
    float: left;
}

.sidebar {
    background-color: hsl(143, 54%, 12%);
    float: left;
    height: 100vh;
    padding-top: 3rem;
    padding-left: 2rem;
    max-height: 910px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

li a {
    color: mediumseagreen;
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: darkgreen;
    padding: 15px;
    margin-top: -20px;
    position: fixed;
    width: 100%;
}

hr {
    margin-bottom: 5px;
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    text-align: center;
    margin-top: -130px;
    background-color: white;
    position: fixed;
}

.button { 
    color: mintcream;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* ================================================================= */
/* =============================CONTAINER=========================== */
/* ================================================================= */

/* This is our parent / container, this class initiate Flexbox and allows us to use Flexbox width inside our code */
.container { display: flex; }

/* This class is used to provide alignment to our containers as default they are rows */
.flex-column { flex-direction: column; }

/* This class is used to provide alignment to our containers to define our direction of our items inside of our flexbox */
.flex-row { flex-direction: row; }

/* This class is used to provide alignment to our items by using align-items */
.flex-center { align-items: center; }

/* This class is used to provide wrapping to our flexbox containers */
.flex-wrap { flex-wrap: wrap; }

div>form>p { 
    padding: 0.5rem;
}


  